body  {
    font-family: 'Open Sans', sans-serif;
}

.custom-logo {
    width: 4.5rem;

}

.custom-icon:first-child {
    width: 1rem;
    height: auto;
}
.custom-header-text {
    font-size: 1.3rem;
    color: gray;
    padding-left: 0.3rem;
}

.custom-icon {
    width: 2rem;
}

.custom-nav-link {
    font-size: .9rem;
    color: gray;
    text-decoration: none;
    padding-inline: 2.5rem;
    padding-inline-start: 0;
}

.custom-nav-link:last-child {
    color: #3367d6;
    position: relative;
}

.custom-nav-link:last-child:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;   
    width: 43%;
    height: 3px;
    background-color: #3367d6;
    margin-top: 0.5rem;
    z-index: 2;
}

/* border for navbar */
.custom-style-border {
    position: relative;
}
.custom-style-border:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;   
    width: 100%;
    height: 1.5px;
    background-color: #cbcbcb;
    margin-top: 0.5rem;
}



.custom-footer-link {
    font-size: .8rem;
    color: gray;
    text-decoration: none;
    padding-inline: 2rem;
    padding-inline-start: 0;
}

.custom-footer-bg {
    background-color: #f5f5f5;
}

.custom-footer-alignment {
    padding-inline: 9rem;
    padding-block: .3rem;
}